.node circle {
  fill: #B4CDCD;
  stroke: #5F9F9F;
  stroke-width: 2px;
}

.title {
  font: 14px sans-serif;
  font-weight: bold;
  color:#00868B;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee;
}

.page-view {
  height: 540px;
  overflow: hidden;
  width: 100%;
}

.iframe-container {

}

.indent {
  padding-left: 10px;
}

.graph-view {
  height: 227px;
  border: 2px solid; 
}

footer {
  height: 200px;
  overflow:scroll; 
}

.node {
  font: 10px sans-serif;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.d3-tip {
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font: 12px sans-serif;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}