body {
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  font-size: 12px;
  color: #1c1c1c;
}

.page {
  position: absolute;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  padding:10px;
  background: white;
  box-sizing: border-box;
}

#explore {
  padding: 10px 0px;
}


/*** GENERAL UI **/

.top-bar {
  height: 40px;
  position: fixed;
  background: rgba(255,255,255,0.8);
  width: 100%;
  top: 0px;
  padding-top: 5px;
  left: 0px;
  box-shadow: 0px 1px 8px rgba(180,180,180,0.1);
  z-index: 10;
}

#explore .top-bar {
  position: absolute;
}

.top-bar .search-box {
  width: 500px;
  margin: 0 auto;
}

.search-box .search {
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid white;
  padding: 8px;
  text-decoration:none;
  color: gray;
  width: 100%;
  outline: none;
}

.search:active, .search:focus {
  border: 1px solid rgba(120,120,120,.1);
  color: black;
}

#enter-search {
  min-width: 100px;
  outline: none;
  -moz-box-sizing:border-box; /* Firefox */
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
text-align: center;
padding: 10px 0px;
margin-bottom: 20px;
color: rgb(26, 143, 26);
font-weight: bold;
border-bottom: 1px dotted green;
}

.top-bar .back-button {
  float: left;
  margin-left: 40px;
}

.back {
  
  background-color: #eee;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  float: left;
  text-decoration:none;
  color: inherit;
  margin-bottom: 10px;
  cursor:pointer;
}

.back:hover {
  color: black;
}

.top-bar .gd-title {
  margin: 0 auto;
  width: 500px;
  padding: 10px 0px;
  font-size: 14px;
  text-align: center;
}

.hidden {
  display:none;
}

.title {
  /* TODO DO 
  font: 14px sans-serif;
  font-weight: bold;
  color:#00868B;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eee; */
}


/**  !!! HISTORY SPECIFIC !!! **/

.graph-container {
  background: white;
  width: 100%;
  margin-top: 60px;
}


.graph-view {
  width: 100%;
  float: left;
  clear: left;
  margin-bottom: 20px;
  border-bottom: 1px dotted rgba(180,180,180,0.7);
  position: relative;
}

#explore .graph-view {
  border-bottom: 1px dotted rgb(134, 216, 255);
}

.graph-view > div {
  float: left;
}



.graph-view #detail-graph-container {
  width: 800px;
  margin: 0 auto;
  float: none;
}

.graph-view .graph-title {
  width: 35%;
  padding-left: 25%;
  box-sizing: border-box;
}

.graph-view .graph-title > div {
  float: left;
  clear: left;
  min-width: 150px;
}

.graph-view .graph-title .explore-button {
  position: absolute;
  bottom: 5px;
  cursor: pointer;
  width: 140px;
  padding: 5px 0px;
  border-radius: 5px;

  color: gray;
  background: #eee;
  transition: opacity 0.2s ease-in;
  text-align: center;

  opacity: 0;
}

.graph-view:hover .graph-title .explore-button {
  opacity: 1;
  pointer-events:all;
}

.graph-title .explore-button:hover {
  color: black;
}


.graph-view .graph-visit {
  float: left;
  width: 100%;
}


.graph-title .date {
  margin-bottom: 5px;
  font-weight: bold;
}

.graph-title .name .domain {
  margin-bottom: 5px;
  color: rgba(48, 156, 255,0.5)
}

.graph-title .name .domain span {
  color: rgb(48, 156, 255)
}

#graph-title .domain {
  display: inline-block;
  margin-right: 5px;
}

#graph-title .domain span {
  font-weight: bold;
}
.graph-view .graph-holder {
  width: 65%;
  overflow: scroll;
}

/* !!!EXPLORE CSS!!!! */

.graph-visit {
  float: left;
  width: 100%;
}

.graph-visit .iframe-url {
  width: 100%;
  text-align: center;
  position: relative;
  top: -10px;
  padding: 10px 0px;
  background: rgba(98, 186, 255,0.17);
  position: relative;
  top: -20px;
}

.graph-visit .iframe-url .name {
  color: rgb(0, 143, 255);
  font-weight:bold;
}

.graph-visit .iframe-url .time {
  font-weight: bold;
}

.graph-visit .iframe-container {
  width: 100%;
  border-top: 2px solid rgb(134, 216, 255);
  position: relative;
  top: -20px;
}

.iframe-container .graph-iframe {
  height: 500px;
  width: 100%;
  border: none;
  background: rgb(235, 235, 235);
}

/*
.center {
  text-align: center;
  padding-bottom: 5px;
}

.at {
  font: 12px sans-serif;
  color: #B4CDCD;
  padding: 5px;
}

.time {
  font: 14px sans-serif;
  color:#00868B;
  padding-top: 5px;
  padding-bottom: 15px;
}*/

/* Page -view is the iframe */
.page-view {
  height: 500px;
  overflow: hidden;
  width: 100%;
}

/* tag css??? */
.tag {
  color: #62B1F6; 
  background-color: #eee;
  border-radius: 5px;
  padding: 5px;
  
  border: 1px solid white;
}


#enter-tag {
  min-width: 50px;
  width: 50px;
  outline: none;
  -moz-box-sizing:border-box; /* Firefox */
  box-sizing: border-box;
}

#enter-tag:focus {
  border: 1px solid #c1c1c1;
}


/* GRAPH SPECIFIC CSS */
svg rect{
  cursor:pointer;
  stroke-width: 2px;
}
  
svg rect.active {
  stroke: rgb(47, 180, 22);
  fill: rgb(236, 255, 240);
}

svg rect.inactive {
  fill: rgb(243, 243, 243);
  stroke: rgb(228, 228, 228);
}

 a,  a:visited,  a:hover  {
  text-decoration: inherit;
  color:inherit;
}


.node {
  /* LABEL THINGS! */
  position: relative;
  color: black;
}

.node image {
  pointer-events:none;
}

.node .node-text {
  font-size: 11px;
  width: 100px;
}

#history .node-text a {
  color: black;
}

#history .node .node-text {
  opacity: 0;
  pointer-events: none;
}

#history .node.hovering .node-text, #history .node:hover .node-text {
  pointer-events: all;
  opacity: 1;
  color: black;
}

#explore .node .node-text {
  display: block;
}

.tooltip {
  font-size: 12px;
}

.node-url {
  display:none;
}
.node-text a:hover {
  color: red;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.introjs-helperLayer {
  background-color: #FFF;
  background-color: rgba(255,255,255,.9);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.introjs-helperNumberLayer {
  position: absolute;
  font-family: Arial, verdana, tahoma;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 5px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
  background: #B4CDCD; /* Old browsers */
  background: -webkit-linear-gradient(top, #B4CDCD 0%, #B4CDCD 100%); /* Chrome10+,Safari5.1+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* Chrome,Safari4+ */
  background:    -moz-linear-gradient(top, #B4CDCD 0%, #B4CDCD 100%); /* FF3.6+ */
  background:     -ms-linear-gradient(top, #B4CDCD 0%, #B4CDCD 100%); /* IE10+ */
  background:      -o-linear-gradient(top, #B4CDCD 0%, #B4CDCD 100%); /* Opera 11.10+ */
  background:         linear-gradient(to bottom, #B4CDCD 0%, #B4CDCD 100%);  /* W3C */
  width: 20px;
  height:20px;
  font-size: 10px;
  line-height: 20px;
  border-radius: 50%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3019', endColorstr='#cf0404', GradientType=0); /* IE6-9 */ 
  filter: progid:DXImageTransform.Microsoft.Shadow(direction=135, strength=2, color=ff0000); /* IE10 text shadows */
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
}
